[submodule "eval/python-qrcode/python-qrcode"]
	path = eval/python-qrcode/python-qrcode
	url = https://github.com/lincolnloop/python-qrcode
[submodule "eval/schedule/schedule"]
	path = eval/schedule/schedule
	url = https://github.com/dbader/schedule.git
[submodule "eval/cachetools/cachetools"]
	path = eval/cachetools/cachetools
	url = https://github.com/tkem/cachetools.git
[submodule "eval/humanize/humanize"]
	path = eval/humanize/humanize
	url = https://github.com/python-humanize/humanize.git
