.idea/
.venv/
venv/
__pycache__/
*.pyc
*.egg-info/
dist/
build/
generated_docs/
!examples/**/generated_docs/
!examples/**/generated_docs/**
!eval/python-qrcode/generated_docs/
!eval/python-qrcode/generated_docs/**
.andocgen_cache/
config.yaml
.env
